In [1]:
import numpy as np
import pandas as pd
import random
import matplotlib as plt

In [2]:
#let's make some fake data to compute weighted averages on
sigma = 1
mu = 0
num_samples = 1000
S = np.random.normal(mu,sigma,num_samples)

#make some random positive weights:
W = np.random.randint(1,5,num_samples)

#put the data and weights into a dataframe:
D = pd.DataFrame({'Values':S,'Weights':W})

#take a look at the first few rows
D.head()

     Values  Weights
0  0.960099        2
1  0.206196        1
2  0.539604        2
3  1.230648        1
4 -1.234092        2

In [3]:
#compute a weighted average by adding a new column and then doing some sums and a division:
D['Product'] = D['Values']*D['Weights']
numerator = D['Product'].sum()
denominator = D['Weights'].sum()
wavg = numerator/denominator
wavg

-0.04559112599689079

In [4]:
#compute a weighted average using a pre-built command
np.average(D['Values'],weights=D['Weights'])

-0.04559112599689079

In [5]:
#demonstrating groupby: let's group by our integer weights and take an unweighted average of the values within each group

G = D.groupby('Weights')['Values'].sum()
G

Weights
1   -18.647391
2   -24.186909
3   -13.771344
4    -1.251075
Name: Values, dtype: float64

In [6]:
#a way to turn the output of stuff after a groupby back into a regular dataframe for further computations
G.reset_index()

   Weights     Values
0        1 -18.647391
1        2 -24.186909
2        3 -13.771344
3        4  -1.251075